<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세보기</title>
</head>

<header th:replace="fragments/cm_top.html"></header>

<body>
    <div class="container">
        <section class="py-5">

            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="@{${item.getImgPath()}}"
                            alt="..." /></div>
                    <input class="form-control" type="hidden" id="itemId" th:value="${itemId}">
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder" th:text="${item.getName()}">상품 이름</h1>
                        <div class="fs-5 mb-5">
                            <span th:text="|${item.getPrice()} 원|">아이템 가격</span>
                        </div>
                        <p class="lead" th:text="${item.getContext()}">아이템 설명</p>
                        <form th:action ="@{/item-insert}" method="post">
                        <div class="d-flex">                            
                                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                    구매하기
                                </button>
                            <a class="btn btn-outline-dark" onclick="insertItem();">
                                <i class="bi-cart-fill me-1"></i>
                                장바구니
                            </a>
                            <br>
                            <div class="number">
                                <a href="#" id="decreaseQuantity"><img src="minus-512.webp">수량 내림</a>
                                <span id="numberUpDown">1</span>
                                <a href="#" id="increaseQuantity"><img src="plus.png">수량 올림</a>

                            </form>
                            </div>

                            <a class="btn btn-outline-dark" th:href="@{/item/list}">
                                <i class="bi-cart-fill me-1"></i>
                                목록
                            </a>
                        </div>

                   

                        <!--                    시큐리티 먹이면 할 거
                        <form class="d-flex" sec:authorize="hasRole('ROLE_SELLER')" th:if="${item.getSeller().getId()} == ${user.getId()}">
                            <div class="d-flex">
                                <a th:href="@{/item/modify/{id} (id=${item.getId()})}">
                                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                        상품 수정
                                    </button>
                                </a>
                                <a th:href="@{/item/delete/{id} (id=${item.getId()})}">
                                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                        상품 삭제
                                    </button>
                                </a>
                            </div>
                        </form>
-->
                        <!--
                        <form class="d-flex" sec:authorize="!isAuthenticated()">
                            <div class="d-flex">
                                <a th:href="@{/signin}">
                                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                        구매하기
                                    </button>
                                </a>
                                <a class="btn btn-outline-dark" th:href="@{/signin}">
                                    <i class="bi-cart-fill me-1"></i>
                                    장바구니
                                </a>
                            </div>
                        </form>
                        -->
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>

</html>
<script>

    function insertItem() {
        if (confirm("장바구니에 넣으시겠습니까?")) {
            location.href = "/item/item-insert?itemId=" + document.getElementById('itemId').value;
        }
    }

    $(function () {
        $('#decreaseQuantity').click(function (e) {
            e.preventDefault();
            var stat = $('#numberUpDown').text();
            var num = parseInt(stat, 10);
            num--;
            if (num <= 0) {
                alert('더이상 줄일수 없습니다.');
                num = 1;
            }
            $('#numberUpDown').text(num);
        });
        $('#increaseQuantity').click(function (e) {
            e.preventDefault();
            var stat = $('#numberUpDown').text();
            var num = parseInt(stat, 10);
            num++;

            if (num > 5) {
                alert('더이상 늘릴수 없습니다.');
                num = 5;
            }
            $('#numberUpDown').text(num);
        });
    });
</script>