<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세보기</title>
</head>

<header th:replace="fragments/cm_top.html"></header>

<body>
    <div class="container">
        <section class="py-5">

            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="@{${item.getImgPath()}}"
                            alt="..." /></div>

                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder" th:text="${item.getName()}">상품 이름</h1>
                        <div class="fs-5 mb-5">
                            <span th:text="|${item.getPrice()} 원|">아이템 가격</span>
                        </div>
                        <p class="lead" th:text="${item.getContext()}">아이템 설명</p>

                        <input class="form-control" type="hidden" th:field="${item.id}">
                        <div class="d-flex">
                            <label for="count" class="form-label">수량
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg " name="optionCnt" id="cnt">
                                    <option th:each=" i : ${#numbers.sequence(1,10)}" th:text="${i}" ></option>
                                </select>
                            </label>
                        </div>

                        <div class="mt-4">
                            <button type="button" class="btn btn-primary" onclick="cart();">장바구니 담기</button>
                            <button type="button" class="btn btn-success">바로 구매하기</button>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="btn btn-outline-dark" th:href="@{/item/list}">
                        <i class="bi-cart-fill me-1"></i>
                        목록
                    </a>
                </div>
        </section>

    </div>
</body>

</html>
<script th:replace="fragments/cm_top.html :: csrfReady"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    function cart() {
        alert('상품이 장바구니에 담겼습니다!');
        let itemId = $("#id").val();
        let cnt = $("#cnt").val();

        $.ajax({
            type: "post",
            url: "/item/init-cart",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ "itemId": itemId, "cnt": cnt }),
            dataType: "json",
            success: function (response) {
                console.log(response);
//                alert('상품이 장바구니에 담겼습니다!');
            },
            error: function (e) {
                console.log("error");
            }
        });
        alert('상품이 장바구니에 담겼습니다!');
    }
</script>