<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세보기</title>
</head>

<header th:replace="fragments/cm_top.html"></header>

<body>
    <div class="container">
        <form action="" th:object="${GoodsForm}" class="needs-validation" method="post">
            <input class="form-control" type="hidden" th:field="*{id}">
            <hr class="my-4">
            <h4 class="mb-5">상품 상세보기</h4>

            <hr class="my-4">

            <div class="row mb-3">
                <label for="goodsname" class="form-label">상품이름</label>
                <input class="form-control" type="text" name="" id="" th:field="*{name}" readonly >
                <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" readonly>Title
                    error</small>
                <label for="price" class="form-label">가격</label>
                    <input class="form-control" type="text" name="" id="" th:field="*{price}" readonly >
            </div>

            <div class="row mb-3">
                <label for="context" class="form-label">상품내역</label>
                <textarea th:field="*{context}" class="form-control" rows="10" readonly></textarea>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('context')}" th:errors="*{context}">Text
                    error</small>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">구매</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger btn-lg btn-block" type="button" onclick="history.go(-1)">뒤로가기</button>
                </div>
            </div>


        </form>

    </div>
</body>

</html>