<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 추가</title>
</head>

<header th:replace="fragments/cm_top.html"></header>



<body>
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="/img/cart.png" alt="" width="128" height="128">
                <h2>Cart-Demo 상품등록</h2>
                <p class="lead">상품을 등록하는 페이지 입니다. 모든 항목을 확인한 후 등록을 눌러주세요!</p>
            </div>

          
            <div class="col-8 m-auto">
                <form th:action="@{/goods/goods-add}" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <input class="form-control" type="hidden" name="id" id="id">

                    <div class="row">
                        <div class="col-12">
                            <label for="name" class="form-label">상품명</label>
                            <input class="form-control" type="text" name="name" id="name" placeholder="상품 이름을 입력하세요." required>
                            <div class="invalid-feedback">
                                상품명을 입력해주세요.
                            </div>

                            <label for="context" class="form-label">상품 설명</label>
                            <textarea name="context" id="context" class="form-control" rows="10" placeholder="상품 설명을 입력하세요." required></textarea>
                            <div class="invalid-feedback">
                                상품설명을 입력해주세요.
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="col-12">
                            <label for="price" class="form-label">가격
                                <input class="form-control" type="number" value="100" min="100" name="price" id="price" required>
                            </label>
                            

                            <label for="count" class="form-label">남은 수량
                                <input class="form-control" type="number" value="1" min="1" name="count" id="count" required>
                            </label>
                            
                        </div>

                        <div class="col-12">
                            <div class="form-check">
                                <label for="sold" class="form-check-label">
                                    <input type="checkbox" name="sold" id="sold" class="form-check-input">
                                현재 판매 가능</label>
                            </div>
                            
                            <div class="col-12">
                                <label for="text" class="form-label">상품 이미지 업로드</label>
                                <input type="file" class="form-control" id="imgFile" name="imgFile">
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn float-right">등록</button>
                        <input type="button" class="btn btn-secondary btn float-right" onclick="location.href='/goods/list'" value="취소">
                    </div>
                </form>

            </div>
           
        </main>
    </div>
</body>

</html>