<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록</title>
</head>

<header th:replace="fragments/cm_top.html"></header>

<body>
    <div class="container">
        <form method="get">
            <div class="input-group mb-3">
                <div>
                    <label for="goods">상품 검색</label>
                    <input type="text" id="goods" placeholder="상품명" name="goods" th:value="${name}">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mb-3">검색</button>
                </div>
            </div>
        </form>

        <div class="d-flex justify-content-center">
            <div class="p-2">
                <a th:href="@{/goods/list?categorie=fruit}" style="color: black">
                    과일/견과
                </a>
            </div>
            <div class="p-2">
                <a th:href="@{/goods/list?categorie=greens}" style="color: black">
                    채소
                </a>
            </div>
            <div class="p-2">
                <a th:href="@{/goods/list?categorie=milk}" style="color: black">
                    우유/유제품
                </a>
            </div>
            <div class="p-2">
                <a th:href="@{/goods/list?categorie=instant}" style="color: black">
                    라면/간편식
                </a>
            </div>
            <div class="p-2">
                <a th:href="@{/goods/list?categorie=beverage}" style="color: black">
                    생수/음료/커피
                </a>
            </div>
            <div class="p-2">
                <a th:href="@{/goods/list?categorie=seasoning}" style="color: black">
                    장/조미료
                </a>
            </div>
            <div class="p-2">
                <a th:href="@{/goods/list?categorie=snacks}" style="color: black">
                    과자/빵/빙과
                </a>
            </div>
            <div class="p-2">
                <a th:href="@{/goods/list?categorie=infant}" style="color: black">
                    유아동/완구
                </a>
            </div>
        </div>

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- 첫번째 아이템 -->
                    <div th:each="item : ${list}">
                        <div class="card">
                            <!-- 제품 이미지-->
                            <div style="width:16rem;">
                                <img class="card-img-top" th:src="@{${item.getImgPath()}}" alt=""  height="225px;" width="225px;"/>
                            </div>
                            
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- 제품 명-->
                                    <h5 class="fw-bolder" th:text="${item.getName()}">상품명</h5>
                                    <!-- 제품 가격-->
                                    <p th:text="|${item.getPrice()} 원|">가격</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    th:href="@{/goods/detail/{id}(id=${item.getId()})}">상세보기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="Board-pagination" th:if="${list.TotalElements > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item " th:classappend="${startPage < list.pageable.pageSize} ? 'disabled'">
                    <a class="page-link"
                        th:href="@{/goods/list(page=${startPage - list.pageable.pageSize-1}, searchGoodsName=${param.searchGoodsName})}"
                        tabindex="-1" aria-disabled="true">이전</a>
                </li>
                <li class="page-item" th:classappend="${i == list.pageable.pageNumber+1} ? 'disabled'"
                    th:each="i : ${#numbers.sequence(startPage, endPage)}"><a class="page-link"
                        th:href="@{/goods/list(page=${i-1}, searchGoodsName=${param.searchGoodsName})}"
                        th:text="${i}">1</a>
                </li>
                <li class="page-item "
                    th:classappend="${startPage + list.pageable.pageSize >  list.totalPages } ? 'disabled'">
                    <a class="page-link"
                        th:href="@{/goods/list(page=${startPage + list.pageable.pageSize -1 }, searchGoodsName=${param.searchGoodsName})}">다음</a>
                </li>
            </ul>
        </div>
    </div>

</body>

</html>


<script>
    function detail(param) {
        location.href = "/goods/detail?id=" + param;
    }
</script>