<header>
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

  <html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <meta th:if="${metaParam =='csrf' }" name="_csrf" th:content="${_csrf.token}" />
  <meta th:if="${metaParam =='csrf' }" name="_csrf_header" th:content="${_csrf.headerName}" />

 

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    body {
      padding-bottom: 20px;
    }

    .navbar {
      margin-bottom: 20px;
    }
  </style>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">장봐요</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/item/list">상품</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart/my-cart">장바구니</a>
          </li>
          <div sec:authorize="isAnonymous()">
            <li class="nav-item">
              <a class="nav-link" href="/account/login">로그인하러가기</a>
            </li>
          </div>
          <div class="dropdown" sec:authorize="isAuthenticated()">

            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton2"
              data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="name">
              비로그인사용자
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item active" href="/account/sign-up">회원가입</a></li>
              <li><a class="dropdown-item" th:if="${account?.userid} != null" th:href="@{/account/info} ">회원정보수정</a>
              </li>
              <!--${#authentication.name} -->
              <!-- <li><a class="dropdown-item" href="#">깡통</a></li> -->
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" onclick="document.getElementById('logoutbutten').submit();">로그아웃</a>
                <form id="logoutbutten" th:action="@{/logout}" method="post">
                  <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}" />
                </form>
              </li>
            </ul>
          </div>

      </div>
    </div>
  </nav>

</header>

<script type="application/javascript" th:fragment="csrfReady">
  $(function () {
    var csrfToken = "[[${_csrf.token}]]";
    var csrfHeader = "[[${_csrf.headerName}]]";
    $(document).ajaxSend(function (e, xhr, options) {
      console.log(csrfHeader);
      xhr.setRequestHeader(csrfHeader, csrfToken);
    });
  });
</script>