<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
</head>

<header th:replace="fragments/cm_top.html"></header>

<body>
    <div class="container">
        <form th:action="@{/payment/pay}" th:object="${payForm}" class="needs-validation" method="post">
            <div>
                <input type="checkbox" id="myCheck">
                <label for="myCheck"></label>
                <span>
                    전체선택
                </span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">상품선택</th>
                        <th scope="col">상품정보</th>
                        <th scope="col">상품이름</th>
                        <th scope="col">수량</th>
                        <th scope="col">가격</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each=" row : ${cartlist}">
                        <td>
                            <input type="checkbox" id="myCheck">
                            <label for="myCheck"></label>
                        </td>
                        <td>상품 이미지</td>
                        <td th:text="${row.name}">상품 이름</td>
                        <td>
                            <input type="number" value="${row.cnt}" min="1" max="10">
                        </td>
                        <td>goods price</td>
                    </tr>
                </tbody>
            </table>

            <div th:if="${cartlist == null}" class="text-center">
                <span>장바구니가 비었습니다. 상품을 추가 해주세요.</span>
            </div>
            <div>
                <span>총 주문금액</span>
                <span th:text="${totalprice}"></span>
                <span>원</span>
            </div>

            <div>
                <button class="btn btn-secondary btn float-right" type="submit">결제</button>
            </div>
        </form>
    </div>
</body>

</html>