<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
</head>

<header th:replace="fragments/cm_top.html"></header>

<body>
    <div class="container">
        <form th:action="@{/payment/pay}" th:object="${payForm}" class="needs-validation" method="post">
            <div>
                <label><input type="checkbox" id="myCheckall" style='text-align:center' onclick='selectAll(this)'>
                    전체선택</label>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style=' vertical-align : middle;  text-align: center; '>상품선택</th>
                        <th scope="col" style=' vertical-align : middle;  text-align: center; '>상품정보</th>
                        <th scope="col" style=' vertical-align : middle;  text-align: center; '>상품이름</th>
                        <th scope="col" style=' vertical-align : middle;  text-align: center; '>수량</th>
                        <th scope="col" style=' vertical-align : middle;  text-align: center; '>가격</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each=" row : ${cartlist}">
                        <td style=' vertical-align : middle;  text-align: center; '>
                            <input type="checkbox" class="myCheck" name="checkedVal" th:value="${row.id}" th:attr="data-price=${row.price}" 
                                style="vertical-align:middle">
                        </td>
                        <td style=' vertical-align : middle;  text-align: center; '>
                            <img th:src="@{${row.getImgPath()}}" height="80px;" width="80px;" />
                        </td>
                        <td th:text="${row.name}" style=' vertical-align : middle;  text-align: center; '>상품 이름</td>
                        <td style=' vertical-align : middle;  text-align: center; '>
                            <input type="number" th:value="${row.cnt}" min="1" max="10">
                        </td>
                        <td th:text="${#numbers.formatInteger(row.price, 0, 'COMMA')}" class="price"
                            style=' vertical-align : middle;  text-align: center; '>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div th:if="${cartlist == null}" class="text-center">
                <span>텅</span>
            </div>
            <div>
                <span>총 주문금액</span>
                <span id="totalprice">0</span>
                <span>원</span>
            </div>

            <div>
                <button class="btn btn-secondary btn float-right" type="submit">결제</button>
            </div>
        </form>
    </div>
</body>

</html>

<script>
    $(document).ready(function () {
        function totalsum(){
            var output = 0;
            $('.myCheck:checked').each(function (index, item) {
                output += parseInt($(this).attr('data-price'));
            });

            $("#totalprice").text(comma(output));

        }

        $(".myCheck").click(function () {
            totalsum();
        });

        $("#myCheckall").click(function () {
        if ($("#myCheckall").is(":checked")) $(".myCheck").prop("checked", true);
        else $(".myCheck").prop("checked", false);

        totalsum();
        });
    });


    //콤마찍기
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    //콤마풀기
    function uncomma(str) {
        str = String(str);
        return str.replace(/[^\d]+/g, '');
    }
</script>