<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
</head>


<header th:replace="fragments/cm_top.html"></header>



<body>

  
    <div class="alert alert-warning" role="alert" th:if="${account?.token_bool} == false" onclick="location.href='/account/resend/';">이메일을 인증해 주세요</div>
        
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto"  th:if="${account} == null">
                <a href="/account/sign-up" class="btn btn-secondary">
                    <img src="/img/join.png" width="80" height="80">
                    회원가입 하러 가기
                </a>
                <a href="/account/login" class="btn btn-secondary">
                    <img src="/img/login.png" width="80" height="80">
                    로그인 하러 가기
                </a>
            </div>

            <div class="col-lg-6 col-md-8 mx-auto" th:if="${account} != null">
                <a href="/account/info" class="btn btn-secondary">
                    <img src="/img/info.png" width="80" height="80">
                    내 정보
                </a>
                <a onclick="document.getElementById('logoutbutten').submit();">
                    <img src="/img/logout.png" width="80" height="80">
                    로그아웃
                </a>
                <form id="logoutbutten" th:action="@{/logout}" method="post">
                  <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}" />
              </form>
            </div>
        </div>
    </section>


</body>

</html>